@font-face {
    font-family: 'CM Concrete';
    src: url("cmunbx.woff") format("woff");
}

h1 {
    display: flex;
    font-family: 'CM Concrete', serif;
    font-size: 48px;
    justify-content: center;
  }

body{
    font-family: 'CM Concrete', serif;
    font-size: 24px;
}